<%- include('templates/_header') %>
    <h1>サイト名サイト名</h1>
    <h2>HTML確認用インデックス</h2>
</header>
<div class="body">
<section>
<h1>PC</h1>
    <table>
        <tr><th>ページ名</th><td><a href="xxxxx.html">xxxxx.html</a></td></tr>
        <tr><th>ページ名</th><td><a href="xxxxx.html">xxxxx.html</a></td></tr>
        <tr><th>ページ名</th><td><a href="xxxxx.html">xxxxx.html</a></td></tr>
    </table>
</section>
<section>
<h1>SP</h1>
    <table>
        <tr><th>ページ名</th><td><a href="sp-xxxx.html">sp-xxxx.html</a></td></tr>
        <tr><th>ページ名</th><td><a href="sp-xxxx.html">sp-xxxx.html</a></td></tr>
        <tr><th>ページ名</th><td><a href="sp-xxxx.html">sp-xxxx.html</a></td></tr>
    </table>
</section>
<!-- /.body --></div>
<%- include('templates/_footer') %>